// 垂直居中
.verticalCenter{
  position: absolute;
  top:50%;
  transform: translate(0,-50%);
}
//水平、垂直居中
.tocenter{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.home-page{
  position: relative;
  .page-tabbar{
    position: fixed;
    top:0;
    z-index:100;
    background: white;
    .scroll-view{
      width: 750rpx;
      overflow: hidden;
      white-space: nowrap;
      &-item{
        margin-right: 50rpx;
      }
      &-item:last-child{
        margin-right: 200rpx;
      }
      .active{
        color:#F00;
        text-shadow:0 0 4px #FFF,0 -5px 4px #ff3,2px -10px 6px #fd3, -2px -15px 11px #f80, 2px -25px 18px #f20;
      }
    }
    .search-box{
      width:80rpx;
      height: 42rpx;
      background: white;
      
      right: 0;
      border-left:1px solid #ccc;
      @extend .verticalCenter;
      .iconfont{
        font-size:42rpx;
        @extend .tocenter;
        z-index: 2;
      }
      
    }
  }
  min-height:100% ;
  .list-header{
    margin-top:50rpx;
    height: 80rpx;
    position: relative;
    img{
      margin-left:30rpx;
      width:80rpx;
      height: 80rpx;
      float:left;
      border-radius: 50%;
    }
    span{
      display: block;
      margin-left:30rpx;
      float:left;
      line-height: 80rpx;
    }
    div{
      float:right;
      margin-right:30rpx;
      position: absolute;
      top:52%;
      right:0;
      transform: translate(0,-50%)
    }
  }
  .list-body{
    .img-box{
      p{
        box-sizing: border-box;
        padding:0 30rpx;
        font-size:34rpx;
      }
      .content-image{
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        overflow: hidden;
      }
      
      
      img{
        height: auto;
      }
      video{
        width:100%;
      }
    }
    
  }
  .top-comment{
    padding: 0 20rpx;
    .top-comment-header{
      background: #eee;
      position: relative;
      height: 70rpx;
      img{
        margin-left: 10rpx;
        width:50rpx;
        height: 50rpx;
        border-radius: 50%;
      }
      span{
        @extend .verticalCenter;
        left:100rpx;
      }
    }
    .top-comment-body{
      box-sizing: border-box;
      padding:5rpx 10rpx;
      background: #eee;
    }
  }
  .list-footer{
    display: flex;
    margin-top:20rpx;
    div{
      flex:1;
      margin: 0 35rpx;
      height:44rpx;
      line-height: 44rpx;
      i{
        float:left;
        font-size:36rpx;
      }
      span{
        float:left;
      }
    }
  }
}