.mod-video{
  //水平、垂直居中
  .tocenter{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }
  margin-top:60rpx;
  .list-body{
    p{
      margin:20rpx;
    }
    video{
      width:100%;
    }
  }
  .ul-li{
    width:60%;
    background:white;
    border-radius: 12rpx;
    @extend .tocenter;
    li{
      height: 60rpx;
      line-height: 60rpx;
      border-bottom: 1px solid #ccc;
      text-align: center;
      
    }
  }
}